

img{
  border-radius: 90px;
}

h1. h2{
  font-family: 'Neuton', serif;
}

h1:hover ,h2:hover{
  color: #b258e2;
}
body{
  background-color: #e3e5d7;
}

 li{
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
}
